/*
RESET
 */

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 /* 
 GENERAL
 */

 body{
    font-family: Arial, Helvetica, sans-serif;
 }
 
 .container{
    max-width: 1200px;
    margin: 0 auto;
 }

 .body-colour{

  background-color: black;

 }


/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  background-color: #000000;
  color: rgb(209, 209, 209);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.tags{

  color: white;
  background-color: rgba(194, 189, 189, 0.49)
  

}
.speaker-mode{
  border-radius:3px;
  padding: 2px;
  text-decoration: none;
  margin-left: 10px;
  font-size: 12px;
  color: white;
  background-color: rgba(194, 189, 189, 0.49)
}


 /* MAIN*/
  

 .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  min-height: 91vh;
  padding-bottom: 50px;

}

.cam-container {
  width: 164px;
  height: 120px;
  background-image: url(https://picsum.photos/200/300);
  background-position: center;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: end;
  font-size: 12px;
}

.backround-text{

  background-color: rgba(194, 189, 189, 0.49)
}

.backround-text{

  padding: 4px;

}

/* 

FOOTER

*/
footer {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #23282D;
  padding: 20px;
}

.footer-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 12px;
  margin-right: 15px;
}

.footer-icon i {
  margin-bottom: 5px;
}

.footer-icon span {
  text-align: center;
}

.footer-center {
  display: flex;
}
.footer-left{

  display: flex;

}

.gestures{

font-size: 30px;

}

.end-meeting{
  color: red;
  font-weight: bold;

}

.screen{

  color: greenyellow;

}

.gestures{

  font-size: 2em;

}
